.container .countdown{
  min-height: 500px;
  margin: auto;
  padding: 0 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.container .countdown #clock {
  font: 600 7rem 'Nunito';
}

.container .countdown button{
  width: 100%;
  font-weight: 600;
  padding: 1rem 0;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  transition: 100ms;
}

.container .countdown button:hover {
  opacity: 0.7;
}

.container .countdown button.disabled{
  background-color: var(--disabled);
}
