* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --text: #f8f8f2;
  --background: #282a36;
  --disabled: #44475a;
  --green: #50fa7b;
  --red: #ff5555;
  --purple: #bd93f9;
  --invert-to-white: brightness(0) invert(1);
}

body, html {
  height: 100%;
  width: 100%;
  color: var(--text);
}

.container .countdown{
  background-color: var(--background);
  height: 500px;
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.container .countdown #clock {
  font: 600 6rem 'Nunito';
}

.container .countdown button{
  font-size: 1rem;
  font-weight: 600;
  width: 200px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--purple);
  color: var(--white);
  border-radius: 8px;
  transition: 100ms;
}

.container .countdown button:hover {
  opacity: 0.7;
}

.container .countdown button.disabled{
  background-color: var(--disabled);
}
