* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --background: #F2F3F5;
  --gray-line: #DCDDE0;
  --text-highlight: #B3B9FF;
  --title: #2E384D;
  --disabled: #00000050;
  --red: #E83F5B;
  --green: #4CD62B;
  --blue: #5965E0;
  --blue-dark: #4953B8;
  --blue-twitter: #2AA9E0;
  --invert-white: brightness(0) invert(1);
}

/* Responsividade */

html {
    /* font-size 14px */
    font-size: 87.50%;
    
  }


/* Settings */

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: block;
  align-items: center;
  justify-content: center ;
}

body, button, input, textarea {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

/* Links */

a {
  text-decoration: none;
  /* herda a cor do container */
  color: inherit;
}

/* Titles */
h1 {
  font: 700 3.5rem 'Nunito' ;
  color: var(--title);
}


.container {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  display: flex;
  margin: auto;
  padding: 2.5rem 0;
  
}

.container header{
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  border-radius: 2.5rem;
}
.container header img{
  height: 4rem;
  padding-left: 10px;
}

.container .task{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container .countdown{
  color: var(--title);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding: 2rem;
  border-radius: 50px;
  
}

.container .countdown #clock {
  font: 600 8rem 'Nunito';
}

.container .countdown button{
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: var(--green);
  color: var(--white);
  border-radius: 5px;
}

.container .countdown button.disabled{
  background-color: var(--disabled);
}


/* temp */
textarea {
  display: block;
  width: 90%;
  height: 100%;
  padding: 1rem;
  background-color: var(--background);
  border: none;
}
