* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --background: #121214;
  --shape: #202024;
  --title: #2AA9E0;
  --disabled: #00000050;
  --red: #E83F5B;
  --green: #4CD62B;
  --invert-white: brightness(0) invert(1);
}

/* Responsividade */

html {
    /* font-size 15px */
    font-size: 93.75%;
    
  }


/* Settings */

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  color: var(--white);
}

body, button, input, textarea {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

/* Links */

a {
  text-decoration: none;
  /* herda a cor do container */
  color: inherit;
}

/* Titles */
h1 {
  font: 700 3.5rem 'Nunito' ;
  color: var(--title);
}

/* ##################################### */
/* CONTAINER ########################### */

.container {
  height: 100%;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.container header{
  background-color: var(--shape);
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 2rem 0;

}
.container header img{
  height: 4rem;
  padding-left: 10px;
}

.container .task{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.task .item input{
  margin: 0 0.5rem;
}

.task .item {
  background-color: var(--shape);
  padding: .5rem 0.4rem;
  margin-right: 5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.task .item:hover {
  background-color: #00000000;
}

.container .countdown{
  color: var(--white);
  background-color: var(--shape);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding: 2rem;
  border-radius: 50px;
  
}

.container .countdown #clock {
  font: 600 8rem 'Nunito';
}

.container .countdown button{
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: var(--green);
  color: var(--white);
  border-radius: 5px;
}

.container .countdown button.disabled{
  background-color: var(--disabled);
}


/* temp */
textarea {
  display: block;
  width: 90%;
  height: 100%;
  padding: 1rem;
  background-color: var(--background);
  border: none;
}
